* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #182c61 ;
    color: #ecf0f1;
    height:min-content;
}
header , section h2, section h3, form button, header nav {
            font-family: "Bungee", sans-serif;
            font-weight: normal;
}
body {
    font-family: 'Roboto', sans-serif;
}
header nav li  {
    display:inline;
    margin-left: 16px;
    color: #ecf0f1;
    font-size: 18px;
    
}

header nav button {
    background-color: #182c61;
    color: #fff;
   
   }

header nav button:hover {
    background-color: #2056ea;
    color: gold;
   }
header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    widht:100%;
    margin: 0 auto;
}

header .container,
section .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}
.brands-list li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px, 0;
    color:#182c61
}

section h2 {
    margin-bottom: 24px;
}

section p {
    margin-bottom: 16px;
}

.store-front {
    margin-right: 16px;
}
section h2{
    color: #182c61;
}

.redes-sociais img {
    height: 24px;
}

.redes-sociais li {
    display: inline;
    margin-right: 8px;
}

#contact .container {
    display: block;
}

.contactmethods {
    display: flex;
    justify-content: space-between;
}

form input, textarea, button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    resize: none;
}
form button {
    background-color: #182c61;
    color: #fff
    border: none;
    cursor:pointer;

}

form button:hover {
    background-color: #2d59d3;
    color: gold
}
form textarea{
    height: 200px;
}

footer {
    background-color: #182c61;
    color: #fff;
    padding: 16px, 0;
    text-align: right;
}